*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body{
  
  font-family: 'Roboto', sans-serif;
  width: 100vw;
}

header{
  height: 20vh;
  border: 1px solid #ccc;
}
.logo{
  display: flex;
  justify-content: space-between;
  margin: 2vh 10vw ;
}

.enter{
  display: flex;
  justify-content: space-around;
  width: 19vw;
}

.enter ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

a{
  margin: 5px;
  text-decoration: none;
  font-size: 12px;
  color: #000000;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F2EEEE;
  width: 100vw;
  height: 48vw;
}
h1{
  font-weight: normal;
  font-family: 'Roboto';
}

main{
 height: 66vh;
 width: 80vw;
 border: 1px solid #cccc;
 background-color: white;
 box-shadow: -10px 13px 18px -16px rgba(0,0,0,0.75);
 display: grid;
  grid-template-columns: 55vw auto;
  grid-template-rows: auto auto ;
}
.nav-bar{
 width: 100vw;
 display: flex;
}

.nav-bar ul{
  display: flex;
  margin: 4vh 3vw 4vh  10vw;
  list-style: none;
}
a{
  font-size: 12px;
}

section{
  display: grid;
  grid-template-columns: 30vw auto;
  grid-template-rows: auto auto ;
}
section> div:nth-child(1){
  height: 69vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}

div>img{
  margin-top: 4vh ;
  margin-bottom: 5vh ;
  border: 1px solid #cccc;
}

div>span{
  margin: 0px 0 0 0;
 
}

form input[type="text"]{
  border: none;
  border-bottom: 1px solid rgb(119, 118, 118);
}
button{
  padding: 10px 50px;
  background-color: #ccc;
  font-size: 9px;
  border: none;
}
button:hover{
  background-color: rgb(255, 254, 254);
  box-shadow: 3px 3px 3px rgba(14, 12, 12, 0.5);
}

#tema{
  margin-bottom:10px;
  font-weight: bold;
}
.espacos{
  margin-bottom:8px;
  font-weight: normal;
}

#valor{
  margin-top:30px;
  font-weight: bold;
  margin-bottom:40px;
}


section> div:nth-child(2){
  margin: 60px;
}

 #conta{
   display: flex;
   justify-content: center;
   align-items: flex-end;
   height: 52vh;
   flex-wrap: wrap;
   font-family: 'Varta', sans-serif;
 }
 .control:hover{
   background-color: rgb(172, 172, 70);
 }



