*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body{
  
  font-family: 'Roboto', sans-serif;
  width: 100vw;
}

header{
  height: 16vh;
  
}
li a{
  margin: 5px;
  text-decoration: none;
  font-size: 13px;
  color: #000000;
}
ul{
  list-style: none;
}

.logo{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2vh;
}
.enter{
  display: flex;
  justify-content: space-around;
  width: 19vw;
}

.icone{
  display: flex;
}

nav ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navegacao_footer>ul>li>a{
  font-size: 9px;
}

.conteudo{
   display: grid;
   grid-template-columns: 50vw auto;
   grid-template-rows: auto auto ;
}
div h1{
  font-weight: normal;
  font-family: 'Roboto';
  font-size: 36px;
}

main{
  height: 132vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 0px;
  border: 1px solid #ccc;
}
aside{
  border: none;
  border-top: 1px solid #ccc;

}

.menu-cabecalho{
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 50px 170px 50px 110px;
}

footer{
  height: 30vh;
  background-color: #F6EFEF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carro{
  height: 80vh;

}

div h2{
  font-size: 23px;
  font-weight: normal;
  text-shadow: 2px 2px 4px #cccc;
  font-family: 'Roboto';
}

div h3{
  font-size: 10px;
  font-weight: normal
}

li:nth-child(8)>a{
  color: red;
}
.destaque{
  display: flex;
  justify-content: center;
}
aside h2{
  display: flex;
  justify-content: center;
  margin-top:24vh ;
  margin-bottom:10vh ;
}

p{
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
}

.bloco{
  margin-bottom:5vh
}