*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
html,
body{
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}
.navbar{
  background-color: #6495ED;
}
.icons {
  padding: 1px;
  margin: 1px;
  height: 30px;
  width:  30px;
  border: none;
  }

header{
  height: 24vh;
}

.log{
  display: flex;
  justify-content: space-around;
}

.enter{
  display: flex;
  width: 19vw;
  margin-top: 2vh;
}
.enter li{
  display: inline;
  justify-content: space-around;
  list-style: none;
  font-size: 20px;
}
li a{
  margin: 0vh;
  padding: 3vh 2vw;
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  line-height: normal;
}
li a:hover{
  text-decoration: none;
  color: #ccc;
}
.lista li a{
  font-size: 10px;
  margin: 0px;
  text-decoration: none;
}
.lista li{
  list-style: none;
  margin: -1px;
}




.button4 {
  background-color: white; /* Green */
  border: none;
  color: #000000;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 2vw;
}


.button5{
  padding: 1rem 11rem;
  background-color: black;
  margin-left: 1rem;
  color: white;
  font-size: 1rem;
  
}

.conteudo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 48vw;
}
h1{
  font-weight: normal;
  font-family: 'Roboto';
}

main{
 height: 86vh;
 width: 80vw;
 border: 1px solid #cccc;
 background-color: white;
 box-shadow: -10px 13px 18px -16px rgba(0,0,0,0.75);
}
.nav-bar{
 width: 100vw;
 display: flex;
}

.nav-bar ul{
  display: flex;
  margin: 4vh 3vw 4vh  10vw;
  list-style: none;
}
a{
  font-size: 12px;
}


section> div:nth-child(1){
  height: 22vh;
  display: flex;
  margin-left: 2vw;
  margin-top: 2vh;
  align-items: flex-start; 
  flex-direction: column; 
}

div>img{
  margin-top: 4vh ;
  margin-bottom: 5vh ;
}


#tema{
  margin-bottom:10px;
  font-weight: bold;
  
}
.endereco{
  margin: 1vw 5vh;
}
.endereco span{
  font-size: 10px;
}

.rua{
  display: flex;
  margin: 1vh 1.5vw ;
  
}

.rua input[type="text"]{
  border: none;
  border-bottom: 1px solid #cccc ;
  width: 20vw;
  margin: 1vw;
  
}

label{
  margin: 0 1vw 0 2vw;
  font-size: 10px;
}
.compl{
  display: flex;
  margin-right: 1vw;
}

.compl input[type="text"]{
  border: none;
  border-bottom: 1px solid #cccc ;
  width: 20vw;
  margin: 1vw ;
}
.icones{
  margin: 0 0 0 4vw;
}

.tres{
  border: none;
  height: 5vh;
  margin-bottom: 2vw;
  width: 2.7vw;
}

.confimacao{
  display: flex;
  justify-content: space-between;
}

.confimacao{
  margin: 5vh 17vw 0 2vw;
}

button{
  padding: 10px 20px;
  background-color: #999;
  font-size: 9px;
  border: none;
  cursor: pointer;
  width: 8vw;
}

button:hover{
  background-color: rgb(5, 117, 5);
  box-shadow: -4px 13px 18px -8px rgba(0,0,0,0.75);
}


button:hover{
  
  box-shadow: -4px 13px 18px -8px rgba(0,0,0,0.75);
}






