.grid-container {
  display: grid;
}
/* I created these two class to write as minimum code as possible
 It's good practice to reuse code whenever possible*/
.flex-container{
  display: flex;
}



/* ********************************** */

body.grid-container{
  border: green 4px solid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

header.flex-container {
  /* the header is:
  1- grid-item (because his parent, the body tag, is a grid-container)
  2- flex-container (because it has to sons and I want to place one on top of the other)
  */
  grid-column: 1 / -1;
  grid-row: 1/2;
  flex-direction: column;
  border: orangered 2px solid;

}

header > div.grid-container{
  /* this is the headers 1º section */
  grid-template-columns: 1fr 4fr auto 1fr 2fr 1fr;
  grid-template-areas:
    ". logo . welcomeText icons";
}

header > .grid-container .logo-container{
  grid-area: logo;
  /* height: 100px;
  width: 200px; */

  border: 2px solid purple;
}

.logo-img{
  width: 100%;
  height: auto;
  /* object-fit: none; */
  border: 3px solid yellow;
}

header > .grid-container .welcome-text{
  grid-area: welcomeText;
}
header > .grid-container .icons-container{
  grid-area: icons;
}



header > .navbar.flex-container{
  /* this is the headers 2º section */
  border: blue 2px solid;
}