*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
html,
body{
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  overflow-x: hidden;
}
.navbar{
  background-color: #6495ED;
  box-shadow: 0px 5px 9px -3px rgba(0,0,0,0.75);
}
.icons {
  padding: 1px;
  margin: 1px;
  height: 30px;
  width:  30px;
  border: none;
  }

header{
  height: 24vh;
}
.log{
  display: flex;
  justify-content: space-around;
}

.enter{
  display: flex;
  width: 19vw;
  margin-top: 2vh;
}
.enter li{
  display: inline;
  justify-content: space-around;
  list-style: none;
  font-size: 20px;
}

li a{
  margin: 0vh;
  padding: 3vh 2vw;
  text-decoration: none;
  font-size: 14px;
  color: #000000;
  line-height: normal;
}
li a:hover{
  text-decoration: none;
  color: #ccc;
}
.lista li a{
  font-size: 10px;
  margin: 0px;
  text-decoration: none;
}
.lista li{
  list-style: none;
  margin: -1px;
}

.conteudo{
   display: grid;
   grid-template-columns: 50vw auto;
   grid-template-rows: auto auto ;
}
div h1{
  font-weight: normal;
  font-family: 'Roboto';
  font-size: 36px;
}

main{
  height: 132vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 0px;
  border: 1px solid #ccc;
}
aside{
  border: none;
  border-top: 1px solid #ccc;

}

.menu-cabecalho{
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 50px 170px 50px 110px;
}

footer{
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.carro{
  height: 80vh;

}

div h2{
  font-size: 23px;
  font-weight: normal;
  text-shadow: 2px 2px 4px #cccc;
  font-family: 'Roboto';
}

div h3{
  font-size: 10px;
  font-weight: normal
}


aside h2{
  display: flex;
  justify-content: center;
  margin-top:24vh ;
  margin-bottom:10vh ;
}

p{
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
}

.bloco{
  margin-bottom:5vh
}

.button4 {
  background-color: white; /* Green */
  border: none;
  color: #000000;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 2vw;
}


.button5{
  padding: 1rem 11rem;
  background-color: black;
  margin-left: 1rem;
  color: white;
  font-size: 1rem;
  
}
button:hover{
  
  box-shadow: -4px 13px 18px -8px rgba(0,0,0,0.75);
}